@model WorkItem
@using Microsoft.AspNetCore.Http
@*@inject IHttpContextAccessor HttpContextAccessor*@

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Create New WorkItem</h1>
<br />

<form method="post" asp-action="Create">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class=" col-2">
                <label asp-for="Type" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Type">
                    <option>Work Item</option>
                    <option>Bug</option>
                </select>
            </div>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>


        <div class="form-group row">
            <div class=" col-2">
                <label asp-for="Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.Description)
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Status" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Status">
                    <option>Open</option>
                    <option>In Progress</option>
                    <option>Closed</option>
                </select>
            </div>
        </div>
        <div class="col-5 offset-2">
            <partial name="_CreateAndBackToListButton" />
        </div>
    </div>
</form>
