@model IEnumerable<WorkItem>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12 text-right">
        <partial name="_CreateButton" />
    </div>
</div>
<div class="col-4">
    <ul>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <li>
                    <div class="col-2">
                        @Html.DisplayFor(m => item.Type)
                    </div>
                    <div class="col-2">
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </div>
                </li>
            }
        }
        else
        {
            <p>No Work Items Yet</p>
        }

    </ul>
</div>

